<th:block th:fragment="navlinks(activeLink)">
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " th:classappend="${activeLink} == 'home' ? 'active':''">
                <a class="nav-link" th:href="@{/}" th:text="#{menu.Home}">Home</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'appointments' ? 'active':''">
                <a class="nav-link" th:href="@{/appointments/all}" th:text="#{menu.Appointments}">Appointments</a>
            </li>
            <!--<li class="nav-item" th:classappend="${activeLink} == 'account' ? 'active':''">
                <a class="nav-link" th:href="@{'/customers/' + ${#authentication.id}}" th:text="#{menu.MyAccount}">My account</a>
            </li>
            -->
        </ul>
    </div>
</th:block>
