<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p th:if="${canceler =='customer'}"><span th:utext="#{email.Hello}">Hello, </span><span th:text="${appointment.provider.firstName}"></span></p>
<p th:if="${canceler =='provider'}"><span th:utext="#{email.Hello}">Hello, </span><span th:text="${appointment.customer.firstName}"></span></p>
<p><span th:utext="#{email.ThisAppointmentHasBeenCancelledBy}">This appointemnt has been cancelled by </span><span th:text="${canceler}"></span></p>
<p><span th:utext="#{email.StartDate}">Start date: </span><span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p><span th:utext="#{email.Work}">Work: </span><span th:text="${appointment.work.name}"></span></p>
<p th:if="${canceler =='customer'}"><span th:utext="#{email.Provider}">Provider: </span><span th:text="${appointment.provider.firstName + ' ' + appointment.provider.lastName}"></span></p>
<p th:if="${canceler =='provider'}"><span th:utext="#{email.Customer}">Customer: </span><span th:text="${appointment.customer.firstName + ' ' + appointment.customer.lastName}"></span></p>
<p><span th:utext="#{email.Duration}">Duration: </span><span th:text="${appointment.work.duration}"></span></p>
<p><span th:utext="#{email.Price}">Price: </span><span th:text="${appointment.work.price}"></span></p>
</body>

</html>