<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p><span th:utext="#{email.Hello}">Hello, </span><span th:text="${appointment.customer.firstName}"></span></p>
<p th:utext="#{email.ThisIsYourFinishedAppointmentSummary}">This is your finished appointment summary:</p>
<p><span th:utext="#{email.Date}">Date: </span><span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p><span th:utext="#{email.Provider}">Provider: </span><span th:text="${appointment.provider.firstName}"></span></p>
<p><span th:utext="#{email.Work}">Work: </span><span th:text="${appointment.work.name}"></span></p>
<p><span th:utext="#{email.Duration}">Duration: </span><span th:text="${appointment.work.duration}"></span></p>
<p><span th:utext="#{email.Price}">Price: </span><span th:text="${appointment.work.price}"></span></p>
<p><span th:utext="#{email.IfBySomeReasonThisAppointmentDidntTakePlaceYouHave24HToReportThisByClick}">If by some reason this appointemt didn't take place, you have 24h to report this by clicking </span><a th:href="${url}" th:utext="#{email.here}">here</a></p>

</body>

</html>