<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p><span th:text="#{email.Hello}">Hello, </span><span th:text="${appointment.customer.firstName}"></span></p>
<p><span th:text="#{email.YouProviderConfirmedThatThisAppointmentDidntTakePlace}">You provider confirmed that this appointment didn't take place: </span></p>
<p><span th:text="#{email.StartDate}">Start date: </span><span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p><span th:text="#{email.Work}">Work: </span><span th:text="${appointment.work.name}"></span></p>
<p><span th:text="#{email.Duration}">Duration: </span><span th:text="${appointment.work.duration}"></span></p>
<p><span th:text="#{email.Price}">Price: </span><span th:text="${appointment.work.price}"></span></p>

<p><strong><span th:text="#{email.ItIsStatusIsSetToRejectedAndItWillBeNotInvoiced}">It's status is set to rejected and it will be not invoiced.</span></strong></p>

</body>

</html>