<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p><span th:text="#{email.Hello}">Hello, </span><span th:text="${appointment.provider.firstName}"></span></p>
<p><span th:text="#{email.OneOfYourCustomersBookedAnAppointmentWithYou}">One of your customers booked an appointment with you, </span><span th:text="#{email.hereAreTheDetails}">here are the details:</span></p>
<p><span th:text="#{email.StartDate}">Start date: </span><span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p><span th:text="#{email.Customer}">Customer: </span><span th:text="${appointment.customer.firstName +' '+ appointment.customer.lastName}"></span></p>
<p><span th:text="#{email.Work}">Work: </span><span th:text="${appointment.work.name}"></span></p>
<p><span th:text="#{email.Duration}">Duration: </span><span th:text="${appointment.work.duration}"></span> <span th:text="#{work.DurationUnit}">min</span></p>
<p><span th:text="#{email.Price}">Price: </span><span th:text="${appointment.work.price}"></span> <span> </span> <span th:text="#{invoice.Currency}">PLN</span></p>

<p><span th:text="#{email.ContactPhone}">Contact phone: </span><span th:text="${appointment.customer.mobile}"></span></p>


</body>
</html>