<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p><span th:utext="#{email.Hello}">Hello, </span><span th:text="${newAppointment.getCustomer().getFirstName()}"></span></p>
<p><span th:utext="#{email.SomeoneWantsToExchangeHisAppointmentWithYourAppointment}">Someone want's to exchange his appointment with your appointment. </span></p>
<p><span th:utext="#{email.YouAppointmentDateIs}">You appointment date is: </span><span th:text="${#temporals.format(newAppointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p><span th:utext="#{email.HisHerAppointmentDateIs}">His/Her appointment date is: </span><span th:text="${#temporals.format(oldAppointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>

<p><span th:utext="#{email.Click}">Click </span><a th:href="${url}" th:utext="#{email.here}">here</a> <span th:utext="#{email.toViewItAndTakeAction}">to view it and take action.</span></p>

</body>
</html>