<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'works',#{work.WorkForm})}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row" style="margin-top: 50px" ;>
    <div class="col-md-2 text-center"></div>
    <div class="col-md-8 text-center">
        <div class="card">
            <div class="card-header" th:text="#{work.AddOrUpdateWork}">
                Add or update work
            </div>
            <div class="card-body">

                <form th:action="@{/works/new}" th:object="${work}" method="POST">
                    <input type="hidden" th:field="*{id}" th:value="${work.id}">
                    <div class="form-group row">
                        <label for="name" class="col-md-3 col-form-label" th:text="#{work.Name}">Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" th:field="*{name}" th:placeholder="#{work.Name}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-md-3 col-form-label" th:text="#{work.Price}">Price</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" th:field="*{price}" th:placeholder="#{work.Price}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="duration" class="col-md-3 col-form-label" th:text="#{work.Duration}">Duration</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" th:field="*{duration}" th:placeholder="#{work.Duration}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="duration" class="col-md-3 col-form-label" th:text="#{work.Description}">Description</label>
                        <div class="col-md-9">
                                <textarea class="form-control" th:field="*{description}" rows="3"
                                          th:placeholder="#{work.Description}"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <legend class="col-form-label col-md-3 pt-0" th:text="#{work.TargetCustomer}">Target customer</legend>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="targetCustomer" id="retail"
                                       value="retail"
                                       th:checked="*{targetCustomer =='retail' or targetCustomer== null}">
                                <label class="form-check-label" for="retail" th:text ="#{work.Retail}">Retail</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="targetCustomer" id="corporate"
                                       value="corporate" th:checked="*{targetCustomer=='corporate'}">
                                <label class="form-check-label" for="corporate" th:text="#{work.Corporate}">Corporate</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <legend class="col-form-label col-md-3 pt-0" th:text="#{work.CancelableByCustomer}">Cancelable by customer?</legend>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="editable" id="option1" value="1"
                                       th:checked="*{editable}">
                                <label class="form-check-label" for="option1" th:text="#{button.Yes}">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="editable" id="option2" value="0"
                                       th:checked="*{editable == false}">
                                <label class="form-check-label" for="option2" th:text="#{button.No}">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <legend class="col-form-label col-md-3 pt-0" th:text="#{work.IsUseSlots}">Use slots?</legend>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="isUseSlots" id="option3" value=true
                                       th:checked="*{isUseSlots}">
                                <label class="form-check-label" for="option3" th:text="#{button.Yes}">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="isUseSlots" id="option4" value=false
                                       th:checked="*{isUseSlots == false}">
                                <label class="form-check-label" for="option4" th:text="#{button.No}">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center">

                        <button type="submit" class="btn btn-primary" th:text="#{button.Save}">Save</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 text-center"></div>
</div>
</body>

</html>