<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home',#{menu.Home})}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row mt-3">
    <div class="col-3">

    </div>
    <div class="col-6">
        <div id='calendar'></div>
    </div>
    <div class="col-3">

    </div>
</div>
</div>

<script th:inline="javascript">
document.addEventListener('DOMContentLoaded', function() {

	var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'ru',
      initialView: 'listDay',
      validRange: function (nowDate) {
    	  console.log(nowDate.constructor.name)
    	  console.log(nowDate.toString())
          return {
              start: nowDate
          };
      },
      eventSources: [

          // your event source
          {
              events: function (fetchInfo, successCallback, failureCallback) {
            	  //TODO check ISO string minus 1 day
                  //var url = [[${ '/api/availableHours/'+providerId + '/' + workId + '/' }]] + fetchInfo.start.toISOString().split('T')[0];
                  //var url = [[${ '/api/availableHours/'+providerId + '/' + workId + '/' }]] + fetchInfo.startStr.slice(0,10);
                  var url = /*[[${ '/api/availableHours/'+providerId + '/' + workId + '/' }]]*/ 'someUrl';
                  url = url + fetchInfo.startStr
                  console.log(url);
                  $.ajax({
                      url: url,
                      data: {},
                      success: function (doc) {

                          var x = doc.map(function (entry) {
                              var URL = /*[[${#authorization.expression('hasRole(''ROLE_PROVIDER'')') ? ('/appointments/add-slot/' + workId + '/') : ('/appointments/new/'+providerId + '/' + workId + '/') }]]*/ '';
                              if (entry.availableAppointmentId) {
                                  URL = '/appointments/get-slot/' + entry.availableAppointmentId
                              } else {
                                  URL = URL + entry.start
                              }
                              entry.url = URL;
                              return entry;
                          });
                          successCallback(x);
                      }
                  });
              },
              color: 'white',   // an option!
              textColor: 'black' // an option!
          }
      ]
    });
    calendar.render();
  });

</script>
</body>

</html>